<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Termine</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let termin of termine">
      <ion-list-header>
        <ion-row>{{ termin.id }} </ion-row>
        <ion-row>{{ termin.bezeichnung }} </ion-row>
      </ion-list-header>
      <ion-row>{{ termin.beteiligtePersonen }} </ion-row>
      <ion-row>{{ termin.zeitpunt | date:'dd.MM.yyyy'}} </ion-row>
    </ion-item>
  </ion-list>

  <ion-row *ngIf="errorMessage">
    <ion-row>
        <ion-label color="danger">Error:</ion-label>
    </ion-row>
    <ion-row>
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-row>
  </ion-row>

</ion-content>
