<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Termine</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row *ngIf="!errorMessage">
    <ion-col offset-3>
      <button ion-button icon-right color="primary" (click)="goToTerminErstellung()">
        Termin anlegen
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item *ngFor="let termin of termine">
      <ion-list-header>
        <ion-row>
          <ion-col col-1>
            <ion-icon name="calendar"></ion-icon>
          </ion-col>
          <ion-col col-11>
            {{ termin.id }} {{ termin.bezeichnung }}
          </ion-col>
        </ion-row>
      </ion-list-header>
      <ion-row>
        <ion-item>Beteiligte: {{ termin.beteiligtePersonen }}</ion-item>
      </ion-row>
      <ion-row>
        <ion-item>Zeitpunkt: {{ termin.zeitpunt | date:'dd.MM.yyyy'}}</ion-item>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button icon-right color="primary" (click)="goToTerminBearbeitung(termin)" mini>
            Bearbeiten
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button icon-right color="primary" (click)="showConfirmation(termin.id)" mini>
            Löschen
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-row *ngIf="errorMessage">
    <ion-row>
        <ion-label color="danger">Error:</ion-label>
    </ion-row>
    <ion-row>
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-row>
  </ion-row>

</ion-content>
