page-slide {
    .slide1Background {
        background: color($colors, primary);
    }

    .slide2Background {
        background: color($colors, nigger);
    }

    .slide3Background {
        background: color($colors, myLila);
    }

}
