// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.erfolgreichToast {
    .toast-wrapper {
      background: color($colors, secondary);
      opacity: 0.9;
      // border-radius: 5px;
      text-align: center;
    }

    .toast-message {
      font-size: 2.0rem;
      color: color($colors, dark);
    }
}

.fehlerToast {
  .toast-wrapper {
    background: color($colors, danger);
    opacity: 0.9;
    text-align: center;
  }

  .toast-message {
    font-size: 2.0rem;
    color: color($colors, hell);
  }
}

.warnungToast {
  .toast-wrapper {
    background: color($colors, primary);
    opacity: 0.9;
    text-align: center;
  }

  .toast-message {
    font-size: 2.0rem;
    color: color($colors, hell);
  }
}